.venv
.DS_Store
hello.py
jup_nb_1.ipynb
__pychache__
vsc-extensions.txt
.vs code
text_area_test.py
text_area_test2.py
requirements2.txt
requirements3.txt
test.ipynb
cme_block_test_1.xlsx
block_and_screen_1.csv
Screen_n_Blocks.ipynb